body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: #526c87;
}

h2 {
    font-size: 100px;
    text-align: center;
    margin: 0;

    font-family: CapitaoAmerica;
}

h1 {
    font-size: 130px;
    text-align: center;
    margin: 0;

    font-family: CapitaoAmerica;
}

main {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.capitaoAmerica {
    position: absolute;
    top: 170px;
    left: 200px;
    object-fit: contain;
}

.escudo {
    position: absolute;
    left: 17%;
    top: 20%;
    width: 12vw;

    animation: escudo 4s infinite;
}

.escudo img {
    width: 90%;
    object-fit: contain;
}

@keyframes escudo {
    0% {
        left: 17%;
        top: 20%;
        transform: rotate(30deg);
    }

    100% {
        left: 34%;
        width: 34%;
        top: 0;
    }
}

#sinopse {
    text-align: justify;
    width: 20%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    position: absolute;
    right: 0;
}

#sinopse h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #ffffff;
}

#sinopse p {
    font-size: 1.2em;
    line-height: 1.5;
    color: #ffffff;
    text-align: justify;
}

#sinopse {
    animation: sinopseAnimation 3s ease-in-out;
    animation-duration: 10s;
    background-color: #910404;
}

@keyframes sinopseAnimation {
    from {
        background-color: #1d4293;
    }

    to {
        background-color: #910404;
        transform: translate(0);
    }

    from {
        background-color: #1d4293;
    }

    to {
        background-color: #910404;
    }
}

.tamanhoDivTitulo {
    width: 30%;
}
.tamanhoDivPrincipal {
    width: 70%;
}

@font-face {
    font-family: CapitaoAmerica;
    src: url(/fontes/American\ Captain.ttf);
}
